@import "tailwindcss";

body {
    background: white;
    height: 100dvh;
}

.section {
    @apply max-w-7xl mx-auto;
}

@theme {
    --color-primary-color: #206eb5;
    --color-layer: #fcfcfc;
    --color-secondary-layer: #ffffff;
}
